<li class="task-li my-3 ui-state-default">
    {{#ifeq status "todo"}}
    <div class="task bg-danger text-white todo d-flex justify-content-between p-2 ui-sortable rounded" data-id="{{id}}"
        data-status="{{status}}">
            {{!-- {{id}} --}}
            {{task}}
        <span class="float-right"><i class="view-task fas fa-edit"></i></span>
    </div>
    {{/ifeq}}
    {{#ifeq status "in-progress"}}
    <div class="task bg-warning text-white in-progress d-flex justify-content-between p-2 ui-sortable rounded" data-id="{{id}}"
        data-status="{{status}}">
        {{!-- {{id}} --}}
        {{task}}
        <span class="float-right"><i class="view-task fas fa-edit"></i></span>
    </div>
    {{/ifeq}}
    {{#ifeq status "complete"}}

    <div class="complete-task task bg-success text-white in-progress d-flex justify-content-between p-2" data-id="{{id}}"
        data-status="{{status}}">
        {{!-- {{id}} --}}
        {{task}}
        <span class="float-right"><i class ="delete-task fas fa-check"></i></span>

    </div>
    {{!-- <i class="view-task fas fa-ellipsis-h"></i> --}}
    {{/ifeq}}
</li>